

ul{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    background-color: black;
    color: white;
    height: 7.4vh;
}